body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #004aad;
    color: white;
    padding: 20px 0;
}

.habitaciones h2 {
    margin-top: 20px; /* Ajusta el valor según sea necesario */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none; 
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00bfff;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00bfff; 
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

nav ul li a:hover::after {
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    overflow-y: auto;
    max-height: 90vh;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#vista-previa-habitacion {
    margin-bottom: 20px;
}

#vista-previa-habitacion img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.sub-habitaciones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.sub-habitacion {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.sub-habitacion .estado {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: green;
}

.sub-habitacion.ocupada {
    background-color: red;
    color: white;
}

.sub-habitacion.ocupada .estado {
    color: white;
}

.sub-habitacion.reservada {
    background-color: green;
    color: white;
}

.sub-habitacion.reservada .estado {
    color: white;
}

#error-container {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px; /* Separar el mensaje de error del formulario */
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 10px; /* Separar el mensaje de error del formulario */
}



footer {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 20px 0;
}