body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #004aad;
    color: white;
    padding: 20px 0; /* Reduce el padding para ajustar el tamaño del header */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px; /* Reduce el padding lateral para ajustar el tamaño del header */
}

header h1 {
    margin: 0;
    font-size: 24px; /* Ajusta el tamaño de la fuente del título */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px; /* Reduce el margen entre los elementos del menú */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px; /* Ajusta el tamaño de la fuente de los enlaces del menú */
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 60px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.welcome {
    text-align: center;
    background-color: #e0e0e0;
    padding: 60px 0;
}

.parallax {
    background-image: url('../../images/beach.png');
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax .container {
    position: relative;
    z-index: 2;
}

.parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 10px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.services ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.services ul li {
    text-align: center;
    font-size: 18px;
}

.services ul li i {
    font-size: 24px;
    margin-bottom: 10px;
}

.services h2 {
    margin-bottom: 50px;
}

.contact {
    text-align: center;
    background-color: #e0e0e0;
    padding: 30px 0; 
}

.contact h2 {
    margin-bottom: 15px;
    font-size: 28px;
    color: #004aad;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px; 
}

.contact-details {
    flex: 1;
    min-width: 10px; 
    margin-right: 50px; 
}

.contact-details p {
    font-size: 18px;
    color: #333;
    margin: 20px 0; /* Aumenta el margen superior e inferior */
    display: flex;
    align-items: center;
}

.contact-details p i {
    margin-right: 20px; /* Añade un margen derecho a los íconos */
}

.contact-map {
    flex: 1;
    min-width: 250px; 
}

footer {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 20px 0;
}